<link rel="stylesheet" type="text/css" href="/stylesheets/poi/newPointOfInterest.css"/>
<h1>Add a new Point of Interest</h1>

<div class="well">
    <form name="newPoiForm" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-xs-1">
                <label class="control-label" for="poi-name">Name:</label>
            </div>
            <div class="col-xs-5">
                <input id="poi-name" type="text" ng-model="poi.name" placeholder="Name" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-1">
                <label class="control-label" for="poi-description">Description:</label>
            </div>
            <div class="col-xs-5">
                <input id="poi-description" type="text" ng-model="poi.description"
                       placeholder="Description" size="50" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-1">
                <label class="control-label" for="poi-latlng">Location:</label>
            </div>
            <div class="col-xs-5">
                <input id="poi-latlng" type="text" ng-model="latlng"
                       placeholder="latitude,longitude" size="50" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-1">
                <button class="btn btn-large btn-default" ng-disabled="!newPoiForm.$valid"
                        ng-click="addPoi()">Add New Point of Interest</button>
            </div>
        </div>
        <div ng-show="poi.number">Added POI number {{poi.number}}</div>

    </form>
</div>