<link rel="stylesheet" type="text/css" href="/stylesheets/poi/newPointOfInterest.css"/>
<h1>Add a new Point of Interest</h1>

<div class="well">
    <form name="newPoiForm" class="form-horizontal" role="form">
        <hp-poi-details>

        </hp-poi-details>

        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-1">
                <button class="btn btn-large btn-default" ng-disabled="!newPoiForm.$valid"
                        ng-click="addPoi()">Add New Point of Interest</button>
            </div>
        </div>
    </form>
</div>