<link rel="stylesheet" href="/stylesheets/trains/details.css" />
<h2>Train {{trainNumber}} - {{train.description}}</h2>

<h3>
    <label>Origination:</label> <a href="/#/stations/{{train.originStation}}">{{train.originStation | stationName}}</a>
    <label>Termination:</label> <a href="/#/stations/{{train.terminalStation}}">{{train.terminalStation | stationName}}</a>
</h3>

<div class="timeDisplay">Stop Time: {{stopTime | timeDisplay}}</div>
<form name="newStopForm">
    <label for="stopTime">Time:</label>
    <input hp-focus="afterAdd" type="time" id="stopTime" placeholder="Stop Time" ng-model="stopTime" required/>
    <hp-time-up target="stopTime" increment="5">Up</hp-time-up>
    <label for="station">Station:</label>
    <select class="input-lg" hp-open-list="true" id="station" ng-options="station.abbr as station.name group by station.lines for station in stations" ng-model="station" required></select>
    <button class="btn" ng-disabled="!newStopForm.$valid" ng-click="addStop(stopTime, station)">Add</button>
    <span ng-bind="newStopForm.$valid"></span>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Stop No.</th>
            <th>Time</th>
            <th>Station</th>
            <th>Lines</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stop in train.stops">
            <td>{{$index+1}}</td>
            <td title="{{stop.time | date:'yyyy-MM-dd hh:mm a'}}" hp-copytime="$parent.stopTime" target="stopTime" class="clickable">{{stop.time | date:"hh:mm a"}}</td>
            <td><a href="/#/stations/{{stop.station}}">{{stop.station | stationName}}</a></td>
            <td>{{stop.station | showStationLines}}</td>
            <td>
                <button ng-click="deleteStop(trainNumber, stop)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
