<h2>Train {{trainNumber}}</h2>
<h3>{{train.description}}</h3>

<p>
    Origination: {{originStation.name}} Termination: {{terminalStation.name}}
</p>
<hr/>
<h3>Stops</h3>
<form name="newStopForm">
    <label for="stopTime">Time:</label>
    <input type="time" id="stopTime" placeholder="Stop Time" ng-model="stopTime" required/>
    <label for="station">Station:</label>
    <select id="station" ng-options="station.abbr as station.name for station in stations" ng-model="station" required></select>
    <button ng-disabled="!newStopForm.$valid" ng-click="addStop(stopTime, station)">Add</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Station</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stop in train.stops">
            <td>{{stop.time | date:"hh:mm a"}}</td>
            <td>{{stop.station | stationName}}</td>
            <td>
                <button ng-click="deleteStop(trainNumber, stop)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
