<h1>New Train</h1>
<form name="newTrainForm">
    <div class="form-group">
        <label for="trainNumber">Number:</label>
        <input id="trainNumber" class="form-control" autofocus ng-model="train.number" required />
    </div>

    <div class="form-group">
        <label for="trainDescription">Description:</label>
        <input id="trainDescription" class="form-control" ng-model="train.description" required />
    </div>

    <div class="form-group">
        <label for="originStation">Origination Station:</label>
        <!--<input id="originStation" class="form-control" ng-model="train.originStation"  />-->
        <select id="originStation" ng-options="station.abbr as station.name for station in stations" ng-model="train.originStation"></select>
    </div>

    <div class="form-group">
        <label for="terminalStation">Terminal Station:</label>
        <!--<input id="terminalStation" class="form-control" ng-model="train.terminalStation" required />-->
        <select id="terminalStation" ng-options="station.abbr as station.name for station in stations" ng-model="train.terminalStation"></select>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="addTrain()"
                ng-disabled="!newTrainForm.$valid">Submit</button>
    </div>

</form>