<p><button ng-click="newTrain()">Add a Train</button></p>

<h2>Trains</h2>
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Description</th>
            <th>Stops</th>
            <th>Origination</th>
            <th>Termination</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="train in trains">
            <td><a href="/#/trains/{{train.number}}">{{train.number}}</a></td>
            <td>{{train.description}}</td>
            <td>{{train.stops.length}}</td>
            <td>{{train.originStation | stationName}}</td>
            <td>{{train.terminalStation| stationName}}</td>
        </tr>
    </tbody>
</table>


