<link rel="stylesheet" href="/stylesheets/trains/details.css" />
<h2><a href="/#/trains/{{trainNumber}}">Train {{trainNumber}}</a> - {{train.description}}</h2>

<h3>
    <label>Origination:</label> <a href="/#/stations/{{train.originStation}}">{{train.originStation | stationName}}</a> <label>Termination:</label> <a href="/#/stations/{{train.terminalStation}}">{{train.terminalStation | stationName}}</a>
</h3>

<h2>Details of trip from <a href="/#/stations/{{startStation}}">{{startStation | stationName}}</a> to <a href="/#/stations/{{endStation}}">{{endStation | stationName}}</a></h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Stop No.</th>
            <th>Time</th>
            <th>Station</th>
            <th>Elapsed Time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stop in train.stops | filter:stopFilter">
            <td>{{$index == 0 ? "Board" : $index}}</td>
            <td>{{stop.time | date:"hh:mm a"}}</td>
            <td><a href="/#/stations/{{stop.station}}">{{stop.station | stationName}}</a></td>
            <td>{{stop.elapsedMinutes | minutesToElapsed}}</td>
        </tr>
    </tbody>
</table>
