$minWidth: 50px;
$headerBackgroundColor: teal;
$headerColor: yellow;
$tableWidth: 1200px;
$tableHeight: 700px;

h2 {
    color: blue;
}

div#tableContainer {
    width: $tableWidth;
    max-width: $tableWidth;
    max-height: $tableHeight;
    overflow-y: scroll;
    overflow-x: scroll;
    border: 5px solid darkslategray;
    border-radius: 5px;
}

table#grid {

    tr {
        &:nth-of-type(1) {
            background-color: $headerBackgroundColor;
            color: $headerColor;
            //position: static;
        }
    }
    th,td {
        padding: 3px;
        border: 1px solid black;
        overflow: hidden;
        width: $minWidth;
        min-width: $minWidth;
        &:nth-of-type(1) {
            //position: absolute;
            background-color: $headerBackgroundColor;
            color: $headerColor;
        }
    }
}