$minWidth: 50px;
$headerBackgroundColor: teal;
$headerColor: yellow;

h2 {
    color: blue;
}

table#grid {
    width: 800px;
    height: 400px;
    table-layout: fixed;
    overflow-y: scroll;
    overflow-x: scroll;

    tr {
        &:nth-of-type(1) {
            background-color: $headerBackgroundColor;
            color: $headerColor;
        }
    }
    td {
        padding: 3px;
        border: 1px solid black;
        overflow: hidden;
        min-width: $minWidth;
        width: $minWidth;

        &:nth-of-type(1) {
            background-color: $headerBackgroundColor;
            color: $headerColor;
        }
    }
}