$minWidth: 37px;
$headerBackgroundColor: black;
$headerColor: yellow;
$tableWidth: 1200px;
$tableHeight: 700px;
$font-size: 10pt;
$font-family: Tahoma;

h2 {
    color: blue;
}

.from-to {
    font-size: 18pt;
    color: green;
}
.tableTitle {
    color: blue;
    font-size:16pt;
}

.horizontalTitle {
    text-align: center;
}
.verticalTitle {
    display: inline-block;
    //transform: rotate(-90deg);
    text-wrap: none;
}
table#grid {

    font-family: $font-family;
    font-size: $font-size;
    cursor: pointer;

    tr {
        &:nth-of-type(1) {
            background-color: $headerBackgroundColor;
            color: $headerColor;
            //position: static;
        }
    }
    th,td {
        text-align: center;
        font-weight: normal;
        padding: 0px;
        border: 1px solid black;
        overflow: hidden;
        width: $minWidth;
        min-width: $minWidth;
        &:nth-of-type(1) {
            background-color: $headerBackgroundColor;
            color: $headerColor;
        }

        &.Disallowed {
            background-color: red;
        }
        
        &.MatchBoth {
            background-color: black;

            a {
                color: yellow;
            }

        }
        &.MatchFrom, &.MatchTo {
            background-color: black;
            a {
                color:white;
            }
        }
    }
}

table#tripViewTable {
    border: 1px solid black;
    font-size: 8pt;

    td,th {
        text-align: center;
    }
    th {
        background-color: black;
        color: white;
        &:nth-child(2) {
            background-color: darkgreen;
        }
        &:last-child {
            background-color: darkred;
        }
    }
    td {
        border: 1px solid black;
        &:nth-child(2) {
            color: white;
            font-weight: bold;
            background-color: darkgreen;
        }
        &:last-child {
            color: white;
            font-weight: bold;
            background-color: darkred;
        }
    }
}