<style>
    div.ls-outer-div {
        display:inline-block;
        vertical-align: middle;
        width: 200px;
        height: 60px;
        cursor: pointer;
    }

    div.ls-inner-div {
        overflow-y: scroll;
    }

    div.ls-line {
        vertical-align: middle;
        background-color: white;
        font-size: 14pt;
        padding: 5px;
        border: 1px solid black;
        border-radius: 3px;
        height: 60px;
    }
    div.ls-line.expanded:hover {
        background-color: blue;
    }

    div.ls-line.expanded:hover table {
        color: white;
    }

    td.ls-lineName {
        font-weight: bold;
    }
    td.ls-map {
        height: 50px;
    }

    td.ls-arrow, td.ls-lineName, td.ls-map {
        padding-left: 10px;
    }

</style>
<div class="ls-outer-div">
    <div class="ls-inner-div">
        <div class="ls-line" ng-hide="!expanded && $index != selectedIndex" ng-class="getClass()" ng-repeat="line in lineList" ng-click="lineClick(line, $index)">
            <table>
                <tr>
                    <td class="ls-lineName">{{line.name}}</td>
                    <td ng-if="line.map" class="ls-map" id="line_{{::$index}}" hp-line-map line="line" stations="stations" w="50" h="50"></td>
                    <td class="ls-arrow" ng-show="expanded && $index == selectedIndex">
                        <span class="glyphicon glyphicon-check"></span>
                    </td>
                    <td class="ls-arrow" ng-show="!expanded">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>