div#graph {
  height: auto;
  width: auto;
  border: 1px solid black;
  position: fixed;
}

.distanceLabel {
  font-size: 14pt;
  color: red;
}
div#tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  max-width: 200px;
  padding: 5px;
  background-color: yellow;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  font-size:12px;
  pointer-events: none;
}

.poi-text {
  fill: red;
  font-size: 12pt;
  font-style: italic;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
