div.timeDisplay {
    font-size: 18pt;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}
.clickable:hover {
    cursor: pointer;
}

h2,h3 {
    color: blue;
    width: 100%;
    text-align: center;
}

h3 {
    color: darkslateblue;
}

h3 label {
    color: black;
}
