<link rel="stylesheet" type="text/css" href="/stylesheets/stations/details.css"/>
<h2>Station {{stationAbbr | stationName}}
    <a href="/#/trains?startStation={{stationAbbr}}" class="btn btn-info btn-lg pull-right">Find a train from/to
        {{station.name}}</a>
    <div>
        <input type="button" class="btn btn-large" value="Next Station" ng-click="nextStation()" />
    </div>
</h2>
<div class="well">
    <img ng-src="images/stations/{{station.image}}" />
</div>
<div class="row">
    <div class="col-md-3" style="border-right: solid black 1px">
        <form name="stationUpdateForm">
            <div class="form-group">
                <label>
                    Name:
                    <input type="text" required ng-model="station.name"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Picture:
                    <select class="input-medium" ng-options="stationPicture as stationPicture for stationPicture in stationPictures | orderBy:'toString()'" ng-model="station.image">

                    </select>
                </label>
            </div>
            <div class="form-group">
                <hp-checkbox-list id="lineSelect" listSource="lines" listSourceProperty="name" objectSource="station"
                                  objectProperty="lines"/>
            </div>
            <div class="formGroup">
                <label>
                    Lat,Lng
                    <input type="text" ng-model="latlng" />
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="updateStation()"
                        ng-disabled="!stationUpdateForm.$valid">Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <h2>Trains stopping at {{stationAbbr | stationName}}</h2>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Number</th>
                <th>Description</th>
                <th>Stops</th>
                <th>Origination</th>
                <th>Termination</th>
                <th>Arrive {{stationAbbr | stationName}}</th>
                <th>Leaves In</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="train in trains | orderBy:train.stationStop.time">
                <td><a href="/#/trains/{{train.number}}">{{train.number}}</a></td>
                <td>{{train.description}}</td>
                <td class="stopCount" title="{{trainStops(train)}}"><a href="/#/trains/{{train.number}}">{{train.stops.length}}<a></a></td>
                <td><a href="/#/stations/{{train.originStation}}">{{train.originStation | stationName}}</a></td>
                <td><a href="/#/stations/{{train.terminalStation}}">{{train.terminalStation| stationName}}</a></td>
                <td>{{train.stationStop.time | timeDisplay}}</td>
                <td>
                    <a hp-seconds-elapsed expr="train.stationStop.time"
                       href="/#/trains?startStation={{train.stationStop.station}}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>