<h2>Station {{stationAbbr | stationName}}</h2>

<div class="well">
    <form name="stationUpdateForm">
        <div class="form-group">
            <label>
                Name:
                <input type="text" required ng-model="station.name" />
            </label>
        </div>
        <div class="form-group">
            <hp-checkbox-list id="lineSelect" listSource="lines" listSourceProperty="name" objectSource="station" objectProperty="lines"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="updateStation()"
                    ng-disabled="!stationUpdateForm.$valid">Submit</button>
        </div>
    </form>
</div>
<h2>Trains</h2>
<table class="table">
    <thead>
    <tr>
        <th>Number</th>
        <th>Description</th>
        <th>Stops</th>
        <th>Origination</th>
        <th>Termination</th>
        <th>Arrive {{stationAbbr | stationName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="train in trains | orderBy:train.stationStop.time">
        <td><a href="/#/trains/{{train.number}}">{{train.number}}</a></td>
        <td>{{train.description}}</td>
        <td>{{train.stops.length}}</td>
        <td>{{train.originStation | stationName}}</td>
        <td>{{train.terminalStation| stationName}}</td>
        <td>{{train.stationStop.time | timeDisplay}}</td>
    </tr>
    </tbody>
</table>

