<h2>Station {{stationAbbr | stationName}}</h2>

<h2>Trains</h2>
<table class="table">
    <thead>
    <tr>
        <th>Number</th>
        <th>Description</th>
        <th>Stops</th>
        <th>Origination</th>
        <th>Termination</th>
        <th>Arrive {{stationAbbr | stationName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="train in trains | orderBy:train.stationStop.time">
        <td><a href="/#/trains/{{train.number}}">{{train.number}}</a></td>
        <td>{{train.description}}</td>
        <td>{{train.stops.length}}</td>
        <td>{{train.originStation | stationName}}</td>
        <td>{{train.terminalStation| stationName}}</td>
        <td>{{train.stationStop.time | timeDisplay}}</td>
    </tr>
    </tbody>
</table>

