<style>
    input.ng-invalid.ng-dirty { background-color: lightpink; }
    input.ng-valid.ng-dirty { background-color: lightgreen; }
</style>

<h1>New Station</h1>
<form name="newStationForm">
    <div class="form-group">
        <label for="stationAbbr">Abbr:</label>
        <input id="stationAbbr" name="stationAbbr" class="form-control" autofocus ng-model="station.abbr" required />
    </div>

    <div class="form-group">
        <label for="stationName">Name:</label>
        <input id="stationName" name="stationName" class="form-control" ng-model="station.name" required />
    </div>

    <div class="input-group">
        <label>Lines:</label>
        <div ng-repeat="(line,selected) in lineSelects">
            <label>
                <input type="checkbox" ng-model="lineSelects[line]" />
                {{line}}
            </label>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="addStation()"
                ng-disabled="!newStationForm.$valid">Submit</button>
    </div>

</form>