<div class="pull-right">
    <label style="font-size:14pt" class="text-info">Line:</label>
    <hp-line-select lines="lines" include-all-selection="true" line-selected="selectLine(line)">

    </hp-line-select>
    <a class="btn btn-lg btn-info" href="#/stations/new">New Station</a>
    <a class="btn btn-lg btn-info" href="#/stations/stationgrid">Station Grid</a>
</div>

<h1>Stations <span ng-if="selectedLine">on the {{selectedLine}} line</span></h1>

<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Abbr</th>
        <th>Lines</th>
        <th>Image</th>
        <th>Coords</th>
        <th>Travel To</th>
        <th class="text-center">Trains</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="station in stations | filter:selectedLineFn | orderBy:'name'">
        <td>
            <a href="/#/stations/{{station.abbr}}">{{station.name}}</a>
        </td>
        <td>
            ({{station.abbr}})
        </td>
        <td style="width:75px">
            {{station.lineList}}
        </td>
        <td>
            <img style="height:40px" ng-src="images/stations/{{station.image}}" />
        </td>
        <td>
            {{station | latlng}}
        </td>
        <td>
            <hp-station-select startStationExpr="station" onSelect="onSelect">
            </hp-station-select>
        </td>
        <td class="well well-sm text-center" title="{{station.trainCountToolTip}}"><a href="/#/trains?startStation={{station.abbr}}">{{station.trainCount}}</a></td>
        <td>
            <button class="btn btn-warning" ng-click="deleteStation(station)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
