<h1>Stations</h1>
<div class="row">
    <div class="col-md-6">
        Filter:
        <select ng-model="selectedLine" ng-options="line.name as line.name for line in lines">
            <option value="">(all)</option>
        </select>
        {{selectedLine}}
    </div>
    <div class="col-md-6 pull-right">
        <a href="#/stations/new">New Station</a>
    </div>
</div>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Abbr</th>
        <th>Lines</th>
        <th>Travel To Directive</th>
        <th>Travel To</th>
        <th class="text-center">Trains</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="station in stations | filter:selectedLineFn | orderBy:'name'">
        <td>
            <a href="/#/stations/{{station.abbr}}">{{station.name}}</a>
        </td>
        <td>
            ({{station.abbr}})
        </td>
        <td>
            {{station.lineList}}
        </td>
        <td>
            <hp-station-select startStation="{{station}}">
            </hp-station-select>
        </td>
        <td>
            <select ng-change="travel(station)" ng-model="station.travelTo" ng-options="stationPick.abbr as stationPick.name for stationPick in stations | filter:travelToFilter:station">
            </select>
        </td>
        <td class="well well-sm text-center" title="{{station.trainCountToolTip}}"><a href="/#/trains?startStation={{station.abbr}}">{{station.trainCount}}</a></td>
        <td>
            <button class="btn btn-warning" ng-click="deleteStation(station)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="#/stations/new">New Station</a>
</div>