ul#stationList {
  color: black;
  height: 500px;
  border: 1px solid black;
  overflow: scroll;
  font-family: sans-serif;
  font-size: 11pt;
  list-style: none;
}

section#mapSection {
  border: 1px solid black;
}
section#infoSection {
  border: 1px solid black;
  height: 50px;
}
.geo {
  font-weight: bold;
  color: red;
}