<link rel="stylesheet" type="text/css" href="/stylesheets/lines/LineDetails.css"/>

<div class="row">
    <div class="col-md-4">
        <h2>{{lineName}} Line</h2>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="lineName" class="control-label col-xs-4">Line Name:</label>
                <div class="col-xs-8">
                    <input id="lineName" class="input-lg form-control" type="text" ng-model="line.name" />
                </div>
            </div>
            <div class="form-group">
                <label for="mapFile" class="control-label col-xs-4">Map file:</label>
                <div class="col-xs-8">
                    <select id="mapFile" class="input-lg form-control"
                            ng-options="mapFile as mapFile for mapFile in mapFiles | orderBy:'toString()'"
                            ng-model="line.map"/>
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-large col-xs-offset-4" value="Update Line" ng-click="updateLine(line)"/>
            </div>

            <div class="form-group">
                <label>Station:</label>
                <select class="input-lg" hp-open-list="true" id="station"
                        ng-options="station.abbr as station.name for station in stations | filter:lineStationFilter"
                        ng-model="selectedStationAbbr" required></select>
                <button class="btn btn-lg" ng-click="addStation()">Add</button>
            </div>
        </form>

        <h3>Stations</h3>
        <table class="table table-hover table-striped table-condensed table-bordered">
            <thead>
            <tr>
                <th>Station</th>
                <th></th>
                <th></th>
                <th></th>
                <td>Show</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stationAbbr in line.stations">
                <td>
                    <a hp-hover-invoke val="stationAbbr" invoke="$parent.stationChange(stationAbbr)" href="/#/stations/{{stationAbbr}}">{{stationAbbr | stationName}}</a>
                </td>
                <td>
                    <button class="btn btn-large glyphicon glyphicon-arrow-up" hp-focus-move-row
                            ng-click="moveStationInLine(lineName, stationAbbr, 'up')">Up
                    </button>
                </td>
                <td>
                    <button class="btn btn-large glyphicon glyphicon-arrow-down" hp-focus-move-row
                            ng-click="moveStationInLine(lineName, stationAbbr, 'down')">Down
                    </button>
                </td>
                <td>
                    <button class="btn btn-large" ng-click="deleteStation(lineName, stationAbbr)">Delete</button>
                </td>
                <td>
                    <input type="radio" name="stationRadioGroup" ng-value="stationAbbr" ng-model="$parent.selectedStation"
                           ng-click="stationChange(stationAbbr)"/>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-8">
        <input type="checkbox" ng-model="showLine" ng-click="showLineClicked()"/>
        <span>Show Line</span>
        &nbsp; &nbsp;
        <input type="checkbox" ng-model="showStationLabels" ng-click="showStationLabelsClicked()"/>
        <span>Show Station Labels</span>
        &nbsp; &nbsp;
        <input type="checkbox" ng-model="showMapFeatures" ng-click="showMapFeaturesClicked()"/>
        <span>Show Map Features</span>
        &nbsp; &nbsp;
        <input type="checkbox" ng-model="showPoi" ng-click="showPoiClicked()"/>
        <span>Show Points of Interest</span>

        <div id="graph">
        </div>
    </div>
</div>
