<link rel="stylesheet" type="text/css" href="/stylesheets/lines/LineDetails.css" />

<div class="row">
    <div class="col-md-4">
        <h2>{{lineName}} Line</h2>
        <form class="form-vertical" role="form">
            <div class="form-group">
                <div class="inputGroup">
                    <label class="control-label">Line Name:
                        <input type="text" class="form-control" ng-model="line.name"/>
                    </label>
                </div>
                <div class="inputGroup">
                    <label class="control-label">Map file:
                        <input type="text" class="form-control" ng-model="line.map"/>
                    </label>
                </div>
                <div class="inputGroup">
                    <input type="button" class="btn btn-large" value="Update Line" ng-click="updateLine(line)"/>
                </div>
            </div>
            <div class="form-group">
                <label>Station:</label>
                <select class="input-lg" hp-open-list="true" id="station"
                        ng-options="station.abbr as station.name for station in stations | filter:lineStationFilter"
                        ng-model="selectedStationAbbr" required></select>
                <button class="btn btn-lg" ng-click="addStation()">Add</button>
            </div>
        </form>

        <h3>Stations</h3>
        <table class="table table-hover table-striped table-condensed table-bordered">
            <thead>
            <tr>
                <th>Station</th>
                <th></th>
                <th></th>
                <th></th>
                <td>Show</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stationAbbr in line.stations">
                <td>
                    <a href="/#/stations/{{stationAbbr}}">{{stationAbbr | stationName}}</a>
                </td>
                <td>
                    <button class="btn btn-large glyphicon glyphicon-arrow-up" hp-focus-move-row
                            ng-click="moveStationInLine(lineName, stationAbbr, 'up')">Up
                    </button>
                </td>
                <td>
                    <button class="btn btn-large glyphicon glyphicon-arrow-down" hp-focus-move-row
                            ng-click="moveStationInLine(lineName, stationAbbr, 'down')">Down
                    </button>
                </td>
                <td>
                    <button class="btn btn-large" ng-click="deleteStation(lineName, stationAbbr)">Delete</button>
                </td>
                <td>
                    <input type="radio" name="stationRadioGroup" value="{{station.abbr}}"
                           ng-click="stationChange(stationAbbr)" />

                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-8">
        <input type="checkbox" ng-model="showLine" ng-click="showLineClicked()" />
        <span>Show Line</span>

        <div id="graph">
        </div>
    </div>
</div>
