<link rel="stylesheet" type="text/css" href="/stylesheets/d3/stationMap.css"/>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                Line: <select ng-options="line as line.name for line in lines" ng-model="selectedLine" ng-change="lineChange(line)">
                </select>
                <div class="input-group">
                    <input type="checkbox" ng-model="showLinePath" ng-change="changeShowLinePath()" />
                    Show Line
                </div>
            </div>
            <ul id="stationList">
                <li ng-repeat="station in stations | filter:stationInLineFn | orderBy:stationOrder">
                    <input type="radio" name="stationRadioGroup" value="{{station.abbr}}"
                           ng-click="stationChange(station)" />
                    <span ng-class="station.lnglat ? 'geo': ''">{{station.name}}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <section id="mapSection">
                <div id="svgContainer">

                </div>
            </section>
            <section id="infoSection">
            </section>
        </div>
    </div>
</div>
</div>
