<link rel="stylesheet" type="text/css" href="/stylesheets/d3/stationMap.css"/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                Line: <select ng-options="line as line.name for line in lines" ng-model="selectedLine"/>
            </div>
            <ul id="stationList">
                <li ng-repeat="station in stations | filter:stationInLineFn">
                    <input type="radio" name="stationRadioGroup" value="{{station.abbr}}"
                           ng-model="selectedStation[station.abbr]"
                           ng-change="stationChange(station)" />
                    <span ng-class="station.lnglat ? 'geo': ''">{{station.name}}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <section id="mapSection" class="row">
                <div id="svgContainer" class="col-md-12">

                </div>
            </section>
            <section id="infoSection" class="row">
                <div class="col-md-12">
                    Info here
                </div>
            </section>
        </div>
    </div>
</div>
</div>
